
@font-face {
  font-family: 'Poppins';
  src: url("images/Poppins-Bold.ttf");
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url("images/PlayfairDisplay-VariableFont_wght.ttf");
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  background: #F9F7FE;
  padding: 120px 20px;
}
.hero h4 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Poppins';
}
 h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: 'PlayfairDisplay';
}
.hero p {
  font-size: 24px;
  font-weight: 600;
  line-height: 2;
  font-family: 'PlayfairDisplay';
}
.btn {
  color: white;
  padding: 15px 30px;
  background-color: #6c63ff;
}
/*projects*/

.projects .projects-container .text {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Poppins';
  font-weight: 100;
}
.description {
  font-size: 64px;
  font-family: 'PlayfairDisplay' ;
  font-weight: bold;
  margin-bottom: 3rem;
  line-height: 1.2;
}
.description-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #6c757d;
  margin-bottom: 3rem;
}
.learn-more {
  color: #6c63ff;
  background-color: white;
  border: 1px solid #6c63ff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}
.home {
  color: #6c63ff;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  .yoghurt {
    text-align: center;
    
  }
  .weather-app {
    text-align: center;
  }
  .dictionary {
    text-align: center;
  }
  .description {
    font-size: 40px;
  }
}
 /*ABOUT*/
.image {
  height: 500px;
  border-radius: 6px;
}
.container {
  padding: 40px 20px;
}
.about-h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins';
  margin-bottom: 1.5rem;
}
.about-p {
  font-family: 'Poppins-regular';
  line-height: 30px;
  font-size: 16px;
  font-weight: normal;
}
@font-face {
  font-family: 'Poppins-regular';
  src: url("images/Poppins-Regular.ttf");
}
@media (max-width: 900px) {
  .image {
    margin-top: 20px;
  }
}

/*WORK*/

.work-h1 {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 3rem;
}
.work-h3 {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins';
}
.work-p {
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 1rem;
  font-family: 'Poppins-regular';
}
.mb-4 {
  margin-bottom: 1.5rem;
}
@media(max-width: 768px) {
  .work-h1 {
    text-align: center;
    font-size: 44px;
    line-height: 1.2;
  }
}

/*CONTACT*/
.contact-h1 {
  font-size: 64px;
  line-height: 80px;
}
.contact-h3 {
  font-size: 24px;
  line-height: 1.5;
  
}

/*all pages*/
.active {
  color: #6c63ff !important;
}
.nav-link {
  font-size: 18px;
}
.img-fluid {
  padding: 10px;
}
.bg-body-tertiary {
  background-color: white !important;
}

/*footer*/
footer {
  margin: 60px 0;
}
footer .contact-box {
  padding: 30px 120px;
  background-color: #F9F7FE;
  border-radius: 10px;
  
}
.footer-h3 {
  font-size: 48px;
  font-family: 'PlayfairDisplay';
  font-weight: bold;
  line-height: 1.2;
}
.footer-p {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Poppins-regular';
}
footer .social-media a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  background: #F9F7FE;
  color: #6c63ff;
  transition: all 100ms ease-in-out;
}
footer .email {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
footer .social-media a:hover {
  color: #F9F7FE;
  background: #6c63ff;
}
footer .email:hover {
  color: #6c63ff;
}
@media(min-width: 768px) {
  .d-md-flex {
    display: flex;
  }

}
.text-center {
  font-size: 18px;
  font-family: 'Poppins-regular';
}
